In [4]:
print("Welcome to Deep Learning Bootcamp Day-2")
print("Welcome to Deep Learning Bootcamp Day-2")
print("Welcome to Deep Learning Bootcamp Day-2")
print("Welcome to Deep Learning Bootcamp Day-2")

Welcome to Deep Learning Bootcamp Day-2
Welcome to Deep Learning Bootcamp Day-2
Welcome to Deep Learning Bootcamp Day-2
Welcome to Deep Learning Bootcamp Day-2

Welcome to Deep Learning Bootcamp Day-2
# Knowledge Shelf
## Knowledge Shelf
### Knowledge Shelf
#### Knowledge Shelf
##### Knowledge Shelf
###### Knowledge Shelf

**Knowledge Shelf**
<br>
_Knowledge Shelf_
<img src="https://www.gstatic.com/devrel-devsite/prod/v702c60b70d68da067f4d656556a48e4ab1cf14be10bb79e46f353f3fdfe8505d/tensorflow/images/lockup.svg" alt="Image not Found" width="200" height="300">

[Tensorflow](https://www.tensorflow.org/)
# Top-5 Programming Languages
- JavaScript
- Python
- Java
- C#
- C/C++

In [5]:
import cv2

In [6]:
import matplotlib

In [8]:
import tensorflow as tf

In [9]:
tf.__version__

'2.5.0'

In [10]:
!ls

sample_data

In [11]:
!pwd

/content

In [12]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [13]:
from google.colab import files

In [14]:
uploded = files.upload()

Saving car.csv to car.csv

In [15]:
!ls

car.csv  sample_data

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('car.csv')

In [18]:
data.head(10)

                                     name   company  ...  kms_driven fuel_type
0    Hyundai Santro Xing XO eRLX Euro III   Hyundai  ...  45,000 kms    Petrol
1                 Mahindra Jeep CL550 MDI  Mahindra  ...      40 kms    Diesel
2              Maruti Suzuki Alto 800 Vxi    Maruti  ...  22,000 kms    Petrol
3  Hyundai Grand i10 Magna 1.2 Kappa VTVT   Hyundai  ...  28,000 kms    Petrol
4        Ford EcoSport Titanium 1.5L TDCi      Ford  ...  36,000 kms    Diesel
5        Ford EcoSport Titanium 1.5L TDCi      Ford  ...  59,000 kms    Diesel
6                               Ford Figo      Ford  ...  41,000 kms    Diesel
7                             Hyundai Eon   Hyundai  ...  25,000 kms    Petrol
8        Ford EcoSport Ambiente 1.5L TDCi      Ford  ...  24,530 kms    Diesel
9          Maruti Suzuki Alto K10 VXi AMT    Maruti  ...  60,000 kms    Petrol

[10 rows x 6 columns]